@model Fotbol.Web.Data.Entities.EquipoEntity

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Esta seguro que quirere Eliminar este Registro?</h3>
<div>
    <br />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogoPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogoPath)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
